body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.265rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

div {
    position: relative;
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
}

.middle-container {
    
}

.bottom-container {
    
}

.top-image {
    position: absolute;
    top: 8%;
    left: 70%;

}

.bottom-image {
    position: absolute;
    top: 50%;
    left: 14%;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.skill-row {
    display: block;
    position: relative;
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.skill-row p {
    margin-left: 2rem;
}

.skill-pic {
    width: 25%;
    float: left;
}

.profile-pic {
    width: 27%;
}